h1{
  font-family:'Courier New', Courier, monospace;
  font-size: 400%;
  font-weight:200px;
}
h2,h3,h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  background-color: cornflowerblue;
}
#main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  /* box-shadow: 2px 5px 5px #333; */
}
#activity {
  position:sticky;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items:center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100%;
  font-weight:100px;
  padding: 100px 100px 80px 80px;
  background:rgb(240, 248, 255);

}
ul{
  text-align: center;

}
#filters {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  /* box-shadow: 2px 5px 5px #333; */
}
h2, h3{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#filters {
	background:rgba(255, 255, 255, 0.615);
	border-radius: 25px;
}

#likeSection {
  background:rgba(255, 255, 255, 0.615);
  margin: 50px;
  text-align: center;
  padding: 15px 20px 18px 18px;
  border-radius: 5px;

}